{% extends 'flatpages/default.html' %}

{% block content%}

<h1><span style="color: #0000ff;"><strong>Первая</strong> статическая страница для домашнего задания <strong><em>пункт 5:</em></strong></span></h1>
<ul>
<li>
<h3 style="text-align: center;"><span style="color: #ff0000;">Поиграться со шрифтами и размерами текста. </span></h3>
</li>
<li style="text-align: center;">
<h4><span style="text-align: center; color: #00ff00;">С помощью любого Wysiwyg-редактора.</span></h4>
</li>
</ul>

{% endblock content%}

